.notification-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $primary;
    z-index: 1;

    &__container {
        @include container;

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: rem(32);
    }

    &__text {
        color: $white;
        font-size: rem(12);
    }

    &__close {
        position: absolute;
        right: rem(22);
        top: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: rem(10);
        background-color: transparent;
        border: none;
        transform: translateY(-50%);
        cursor: pointer;

        svg {
            width: rem(12);
            height: rem(12);

            path {
                fill: $white;
            }
        }
    }
}
