.page-header {
    position: relative;
    background-color: $white;

    &__container {
        @include container;

        display: flex;
        align-items: center;
        justify-content: space-between;
        height: rem(87);

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            height: rem(1);
            width: 100%;
            max-width: $container--absolute;
            background-color: $gray;
            transform: translateX(-50%);
        }
    }

    &__logo {
        display: flex;
        padding: rem(16);
        z-index: 1;

        img {
            width: rem(102);
        }
    }

    &__navigation {
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 0;
    }

    &__account {
        display: flex;
        padding: rem(16);
        z-index: 1;
        transform: translateX(rem(4));

        svg {
            width: rem(28.5);
            height: rem(28.5);

            path {
                transition: fill $transition;
            }
        }

        &:hover svg path {
            fill: $primary;
        }
    }
}
