// Colors
$primary: #FE9E47;
$black: #030303;
$white: #FFFFFF;
$gray: #F1F1F1;

$color--1: #939393;

// Dimensions
$container: rem(1314);
$container--absolute: rem(1250);
$notification-bar-height: rem(32);

// Transitions
$transition: 0.2s;
$transition--long: 0.5s;
