.hero {
    padding-bottom: rem(1000);

    &__container {
        text-align: center;
        min-height: 100vh;
        width: 100%;
        max-width: rem(614);
        margin: 40% auto 0;
        padding: 0 rem(16);

        @media (min-width: $lg) {
            margin-top: rem(312);
            padding: 0;
        }
    }

    &__title {
        font-size: rem(64);
    }

    &__subtitle {
        margin-top: 4.21%;
        line-height: 1.5;
    }
}
