.page-header {
    position: fixed;
    top: -1px;
    width: 100%;
    background-color: $white;
    opacity: 0;
    transform: translateY(-105%);
    transition: transform $transition, opacity $transition;

    &.is-visible {
        opacity: 1;
        transform: translateY(0);
    }

    &.expanded {
        height: 100vh;
    }

    &__desktop {
        display: none;

        @media (min-width: $lg) {
            display: block;
        }
    }

    &__mobile {
        @media (min-width: $lg) {
            display: none;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;

        @media (min-width: $lg) {
            @include container;

            flex-direction: row;
            align-items: center;
            height: rem(87);
        }

        @media (min-width: $lg) {
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                height: rem(1);
                width: 100%;
                max-width: $container--absolute;
                background-color: $gray;
                transform: translateX(-50%);
            }
        }
    }

    &__top {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: rem(87);

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            height: rem(1);
            width: 100%;
            max-width: $container--absolute;
            background-color: $gray;
            transform: translateX(-50%);
        }
    }

    &__bottom {
        display: none;
    }

    &.expanded &__bottom {
        display: block;
    }

    &__logo {
        display: flex;
        padding: rem(16);
        z-index: 1;

        img {
            width: rem(102);
        }
    }

    &__navigation {
        @media (min-width: $lg) {
            position: absolute;
            left: 0;
            width: 100%;
            z-index: 0;
        }
    }

    &__account {
        display: flex;
        padding: rem(16);
        z-index: 1;
        transform: translateX(rem(4));

        svg {
            width: rem(28.5);
            height: rem(28.5);

            path {
                transition: fill $transition;
            }
        }

        &:hover svg path {
            fill: $primary;
        }
    }
}

body.body--notification .page-header__container {
    margin-top: $notification-bar-height;
}
